<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blackbox.verbdrill">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFillNBlank"
            android:configChanges="orientation"
            android:label="Fill-in-the-Blank"
            android:parentActivityName=".ActivityGameModeSelection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActivitySettings"
            android:label="Settings"
            android:parentActivityName=".ActivityMainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blackbox.verbdrill.ActivitySettings" />
        </activity>
        <activity
            android:name=".ActivityGameOverScreen"
            android:label="Game Over"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityGameModeSelection"
            android:label="Mode Selection"
            android:parentActivityName=".ActivityMainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMultipleChoice"
            android:label="Multiple Choice"
            android:parentActivityName=".ActivityGameModeSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityReferences"
            android:label="@string/title_activity_references"
            android:parentActivityName=".ActivityMainMenu" />
    </application>

</manifest>