<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blackbox.verbdrill">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="blackbox.verbdrill.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="blackbox.verbdrill.FillNBlank"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="blackbox.verbdrill.Settings"
            android:label="Settings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="blackbox.verbdrill.Help"
            android:screenOrientation="portrait" />
        <activity
            android:name="blackbox.verbdrill.GameOverScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="blackbox.verbdrill.GameModeSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name="blackbox.verbdrill.MultipleChoice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="blackbox.verbdrill.Hiscore"
            android:screenOrientation="portrait" />
    </application>

</manifest>
